.character-list-container {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1920px;
}

.character-list-loader {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 32px;
}