.card-container {
    width: 29rem;
    height: 220px;
    display: flex;
    overflow: hidden;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: transform 0.3s;
    cursor: pointer;
}

.card-container:hover {
    transform: scale(1.01);
  }

.card-pic {
    flex: 2 1 0%;
    width: 100%;
}

.card-content {
    flex: 3 1 0%;
    position: relative;
    padding: 0.85rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.card-heading {
    color: rgb(245, 245, 245);
    font-size: 1.5rem;
    color: inherit;
    font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 800;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
}

.card-location-content {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.card-link {
    text-decoration: none;
}